/* Base constants */

:root {
    --true-white: #fff;
    --main-white: #f8f8f8;
    --main-darker-white: #f0f0f0;
    --main-gray: #9b9b9b;
    --main-purple: #2a1552;
    --main-black: #0d081a;
}


/* Base Styles */

* {
    margin: 0;
    padding: 0;
}

body {
    font: 1.5em "Raleway", sans-serif;
    color: var(--main-black);
}

h1 {
    margin: 1em 0;
}

h2 {
    position: absolute;
    color: var(--main-black);
    width: 15em;
    font-size: 2rem;
    text-transform: uppercase;
    z-index: 1;
}

hr {
    color: var(--main-black);
    width: 5%;
    margin: 10px 0 20px 0;
}

.container {
    width: clamp(300px, 70%, 800px);
    padding-bottom: 20px;
    z-index: 1;
}

::selection {
    background-color: var(--main-purple);
    color: white;
}

p {
    letter-spacing: 1px;
}

a {
    color: var(--main-purple);
    font-weight: bold;
}


/* Welcome section */

.welcome-section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: var(--main-white);
    text-transform: uppercase;
    font-size: 1.5rem;
}

.welcome-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/pexels-junior-teixeira-2047905.jpg);
    background-size: 180%;
    filter: brightness(60%);
    background-position: center;
    background-blend-mode: color-dodge;
    background-color: var(--main-purple);
    z-index: -1;
}

.highlight {
    padding: 0.25em;
    border: 2px solid var(--main-white);
}

.highlight:hover {
    border: 2px solid transparent;
}


/* Nav bar */

.nav {
    position: sticky;
    top: 0;
    background: var(--main-white);
    z-index: 10;
    text-transform: uppercase;
}

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav-list a {
    font-size: 0.75em;
    padding: 1em 3em;
    text-decoration: none;
    transition: 300ms ease;
    color: var(--main-black);
    font-weight: bold;
}

.nav-list a:hover {
    background-color: var(--main-purple);
    color: var(--main-white);
}


/* Sections */

.introduction-section,
.project-section,
.service-section,
.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em 0 3em;
    align-items: center;
    background-color: var(--main-white);
    text-align: center;
}

.section-title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100vw;
    height: 8em;
    padding: 1em 0 3em;
}

section .background-text {
    position: absolute;
    font-size: calc(12vw);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    background-color: var(--main-gray);
    color: transparent;
    text-transform: uppercase;
    font-weight: 900;
    text-shadow: rgba(255, 255, 255, 0.8) 0px 6px 6px;
    opacity: 0.2;
}


/* Introduction */

.introduction-section {
    background-color: var(--main-darker-white);
}

.introduction-grid,
.service-grid {
    display: grid;
    width: 80%;
    grid-gap: 2em;
    margin-top: 1em;
}

.introduction-grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.introduction-grid div,
.service-grid div,
.project-flex div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.introduction-grid img {
    height: 250px;
    height: 250px;
    padding: 3em;
    clip-path: circle(100px);
    box-sizing: border-box;
    background-color: var(--main-white);
    transition: 200ms;
}

.introduction-grid div img:hover {
    transform: scale(1.2);
}

.introduction-grid div p {
    width: 250px;
    font-weight: bold;
}


/* Service */

.service-grid {
    grid-template-columns: repeat(2, 1fr);
}

@media (min-width: 65rem) {
    .service-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

.service-grid div {
    background-color: var(--true-white);
    height: 250px;
    font-size: 0.75em;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05), 0 2px 2px rgba(0, 0, 0, 0.05), 0 4px 4px rgba(0, 0, 0, 0.05), 0 6px 8px rgba(0, 0, 0, 0.05), 0 8px 16px rgba(0, 0, 0, 0.05);
    transition: 300ms ease;
}

.service-grid img {
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    filter: grayscale(100%) opacity(25%) invert(0%);
    margin: 0.5em;
}

.service-grid p {
    background-color: var(--true-white);
    margin: 1em;
    opacity: 0;
    transition: 300ms ease;
}

.service-grid div:hover,
.service-grid div:hover p {
    background-color: var(--main-purple);
    color: var(--true-white);
    opacity: 1;
}

.service-grid div:hover img {
    filter: invert(100%);
}


/* Project */

.project-section {
    background-color: var(--main-darker-white);
}

.project-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
}

.project-flex div {
    position: relative;
    transition: 300ms ease;
    margin: 0 10px;
}

.project-flex div:hover {
    transform: scale(1.1);
    z-index: 1;
}

.project-flex img {
    width: 250px;
    height: 250px;
    filter: hue-rotate(210deg) brightness(1);
    transition: 300ms ease;
    float: left;
}

.project-flex img:hover {
    filter: hue-rotate(210deg) brightness(0.5);
}

.project-flex p {
    position: absolute;
    color: var(--main-white);
    opacity: 0;
    font-weight: bold;
    transition: 300ms ease;
    pointer-events: none;
}

.project-flex div:hover p {
    opacity: 1;
}

.incoming {
    position: absolute;
    text-transform: uppercase initial;
    font-weight: bold;
    top: 2em;
}

.grayed {
    position: relative;
    filter: saturate(20%);
}


/* Contact */

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 35%;
    z-index: 1;
}

input,
textarea,
#submit {
    box-sizing: border-box;
    font-family: inherit;
    font-size: 0.6em;
    width: 100%;
    padding: 0.5em;
    margin: 0.5em 0;
    border-color: var(--main-gray);
}

textarea {
    height: 10em;
    resize: none;
}

#submit {
    align-self: flex-end;
    min-width: 50px;
    width: 20%;
    color: var(--main-black);
    text-transform: uppercase;
    background-color: var(--main-white);
    transition: 300ms ease;
    border-color: var(--main-purple);
}

#submit:hover {
    background-color: var(--main-purple);
    color: var(--main-white);
    cursor: pointer;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4em 0;
    align-items: center;
    background-color: var(--main-purple);
    text-align: center;
    color: var(--main-white);
    font-size: 0.6em;
}

footer div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1em;
}

footer img {
    width: 30px;
    box-sizing: border-box;
    filter: invert(100%);
    margin: 0.5em;
}